<% if flash[:notice] %>
  <ul class="flash">
    <% flash[:notice].each do |notice| %>
      <li>
        <%= notice %>
      </li>
    <% end %>
  </ul>
<% end %>
<div class="page">
  <div class="zip_code_query">
    <h1>Past 10 days of rainfall at <%= @zip_code%></h1>
    <table>

      <tr>
        <td>Date</td>

      <% @locations.each do |loc| %>
          <td><%=loc["timestamp"].to_s.split("T").first%></td>
      <% end %>
      </tr>
    </tr>
    <tr>
      <td>Precipitation (inches)</td>
      <% @locations.each do |loc| %>
        <td><%=loc["precip"]%></td>
      <% end %>
    </tr>
    </table>

    <%= link_to "Go back", {controller: "location", action: "root"} %>
  </div>
</div>
